page-register{
  .background{
    background-image: url('../../assets/barbell-bodybuilding-effort-703016.jpg');
    background-size: cover;
    .scroll-content{
      
    
    }
  }

  .card{
    margin-top: 10vh; 
    background-color: rgba(112, 109, 109, 0.561);
  }
  
}
  
  .header{
      text-align: center;
      font-size: 30px;
      
    }
    
    .row{
      margin-top: 10px;
    }
    
    .error{
      color: red;
    }
    
    .success{
      color: green;
    }
  
    #register-form{
      
      margin-left: 12vw;
     
   } 

   #logo{
     width: 50%;
     height: 60%;
     margin-left: 23vw;
     margin-top:8%;
     margin-bottom: -8%;
     
   }
   