#invit-all {
    padding: 0px;
    margin: 0px;
}

#button-row {
    margin-left: 135px;
    padding-bottom: 0px;
}

.tabOpen {
    // background-color: #F4C119;
    background-color: #488aff;
    color: white;
}